<nav>
    <a href="/">Home</a>
    <a href="/dogs">View all the dogs</a>
    <a href="/new">Add a new dog</a>

    <% if (!isLoggedIn) { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    <% } else { %>
        <a href="/logout">Logout</a>
        Welcome, <%= name %>
    <% } %>
</nav>