<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1>Welcome to FurEver Woofs</h1>
<h3>A place where wagging tails meet their forever homes!<br>
Explore all the rescue dogs waiting to be part of your family.<br>
Whether you're here to adopt, volunteer, or support, every click brings a pup closer to love.</h3>
<h4>Let's make a paw-sitive difference together!</h4>

</body>
</html>
