<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>

<section class="hero">    
    <h1 class="welcome">Welcome to FurEver Woofs</h1>
    
    <h3 class="welcome-message">A place where wagging tails meet their forever homes!<br>
Explore all the rescue dogs waiting to be part of your family.<br>
Whether you're here to adopt, volunteer, or support, every click brings a pup closer to love.</h3>
    
    <h4>Let's make a paw-sitive difference together!</h4>
</section>

</main>

</body>
</html>
