@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box
}

body {
    background: #f3f1ff;
    font-family: "Thasadith", serif;
    font-weight: 700;
}

h1 {
    font-family: "Sour Gummy", serif;

}

nav {
    font-family: "Thasadith", serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

a {
    color:#6250ad;
    text-decoration: none;
    font-family: "Thasadith", serif;
    display: flex;
}

a:hover {
    color: #ff6868; 
    text-decoration: underline;
    font-family: "Thasadith", serif;
}

a:visited {
    color: #6250ad;
    font-family: "Thasadith", serif;
}